*{
font-family: Georgia;
}


body{
background-color: whitesmoke;

align-self: center;

}

#alert1{
color : red;
}

#alert2{
color : red;
}

#box{
    border: 10px;
    border-color: darkgray;
    border-style: solid;
}