*{
font-family: Georgia;
}


body{
background-color: whitesmoke;

align-self: center;

}

#alert1{
color : red;
}

#alert2{
color : red;
}

#box{
    border: 10px;
    border-color: darkgray;
    border-style: solid;
}

#bttn1{
    color: white;
    background-image: linear-gradient(gray, black);

    height : 40px;
}

#bttn2{
    color: white;
    background-image: linear-gradient(gray, darkgray);

    height : 40px;
}